
$white: #fff;
$gray-dark: #666;
$gray: #999;

$font-size-base: 1em;
$font-size-lg: 1.5em;
$font-size-xl: 2em;


* {
  position: relative;
  box-sizing: border-box;
}

body {
  font-family: 'helvetica neue', 'helvetica', sans-serif;
  line-height: 1.2;
  min-width: 320px;
  margin: 0 auto;
  background: $white;
  color: $gray-dark;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 2em;
}

a:hover {
  color: $gray-dark;
}

.bookmarks {
  /* margin: 1em; */
}

.bookmarks .group {
  display: inline-block;
  vertical-align: top;
  margin: 2em;
}

.bookmarks .group .title {
  font-size: $font-size-xl;
  border-bottom: 1px solid $gray;
}

.bookmarks a {
  display: block;
  font-size: $font-size-lg;
}

.favicon {
  display: inline-block;
  height: 16px;
  width: 16px;
  top: 2px;
  margin-right: 8px;
}
